# Flutter/Dart specific
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_patched_sdk.stamp
**/ios/Flutter/flutter_plugins.dart
**/ios/Flutter/flutter_runner.xcworkspace
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_runner.framework
**/android/gradlew.bat
**/android/gradlew
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/build/
**/android/gradle/
**/android/local.properties
**/android/app/debug.keystore
**/android/app/release.keystore
**/android/.gradle
**/android/.idea/
**/android/**/generated/
**/android/**/outputs/
**/android/**/*.iml
**/android/**/.gradle/
**/android/**/.idea/
**/build/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.dSYM
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_plugins.dart
**/ios/Flutter/flutter_runner.xcworkspace
**/ios/Flutter/flutter_runner.framework/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/ephemeral/
**/macos/Flutter/flutter_assets/
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/flutter_plugins.dart
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/App.framework/
**/macos/Flutter/Flutter.framework/
**/web/**/lib/generated_plugin_registrant.dart
**/web/assets/
**/web/favicon.png
**/web/flutter_service_worker.js
**/web/icons*
**/web/main.dart.js
**/web/main.dart.js.map
**/web/manifest.json
**/web/sound-null-safety
**/web/version.json

# Xcode
**/*.xcworkspace/
**/*.xcworkspace
**/*.xcodeproj/
**/*.xcodeproj
**/*.pbxproj
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/*.xccheckout
**/*.xcuserstate
**/*.xcscmblueprint
**/*.xcuserdatad
**/*.swiftpm/

# Android
**/android/.gradle
**/android/.idea/
**/android/**/generated/
**/android/**/outputs/
**/android/**/*.iml
**/android/**/.gradle/
**/android/**/.idea/
**/android/build/
**/android/gradlew.bat
**/android/gradlew
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/local.properties

# IntelliJ
**/.idea/
**/*.iml
**/*.iws
**/*.ipr

# Visual Studio Code
**/.vscode/
**/*.code-workspace

# macOS
**/.DS_Store
**/.AppleDouble
**/.LSOverride

# Flutter analysis
**/analysis_options.!.yaml

# Flutter Generated Configuration Files
**/lib/generated_plugin_registrant.dart

# Flutter Create
**/flutter_service_worker.js
**/flutter_service_worker.js.map

# Dart Pub Package
**/.dart_tool/
**/.pub/
**/.pub-cache/

# Flutter IntelliJ Plugin
**/.flutter-plugins
**/.flutter-plugins-dependencies
lib/settings/Constant/content.dart
